{% load static %}
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/img/logo.jpg" alt="Rumah Sakit Sehat Sejahtera">
    </a>
  </div>
    <div class="container text-center">
      <div class="row p-0 m-0">
      <div class="col p-0 m-1">
        <a class="nav-item nav-link" style="background-color: #32af21; color: white;" id="AboutNav" href="#">PROFIL</a>
        </div>
        <div class="col p-0 m-1">
          <a class="nav-item nav-link" style="background-color: #32af21;" href="#">POLIKLINIK</a>
        </div>
        <div class="col p-0 m-1">
          <a class="nav-item nav-link" style="background-color: #32af21;" href="#">FASILITAS</a>
        </div>
        <div class="col p-0 m-1">
          <a class="nav-item nav-link" style="background-color: #32af21;" href="#">LOKASI</a>
        </div>
        <div class="col p-0 m-1">
          <a class="nav-item nav-link" style="background-color: #32af21;" id="btnNav" href="#">KONTAK</a>
      </div>
      </div>
    </div>
  </div>

