{% load static %}

<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/img/logo.jpg" alt="Rumah Sakit Sehat Sejahtera">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" id="AboutNav" href="#">PROFIL</a>
        <a class="nav-item nav-link" href="#">POLIKLINIK</a>
        <a class="nav-item nav-link" href="#">FASILITAS</a>
        <a class="nav-item nav-link " href="#">LOKASI</a>
        <a class="nav-item btn btn " id="btnNav" href="#">KONTAK</a>
      </div>
    </div>
  </div>
</nav>


