{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--include external lib-->
    {% include "snippets/styles.html" %}
    <!-- internal app css-->
      {% block app_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">    
      {% endblock app_css %}
    <!--favIcon setting-->
    <link rel="shortcut icon" href="  {% static 'img/logo.jpg' %} " type="image/x-icon">
    <!--- title-->  
    <title>RS Sehat Sejahtera - {{title}}</title>

</head>
<body>

  <!--navbar-->
  {% include "snippets/navbar.html" %}
  <!--navbar End-->

  <!--header-->
  {% block header %}
  {% endblock header %}

  <!--includ script-->
    {% include "snippets/script.html" %}
  <!--end includ script-->   
    
</body>
</html>
